<!DOCTYPE html>

<html>
    <head>
        <title>Udacity Web Development Class Blog</title>
    </head>
    <body>
	<h1>Udacity Web Development Class Blog</h1>
	{% for entry in entries %}
	<div>
	    <div>{{entry.title}}</div>
	    <div>{{entry.dateCreated}}</div>
	    <div>{{entry.content}}</div>
	    <br/>
	</div>
	{% endfor %}
	<div>
	    Queried {{secs}} seconds ago.
	</div>
    </body>
</html>
