<!DOCTYPE html>

<html>
    <head>
        <title>Udacity Web Development Class Blog</title>
    </head>
    <body>
		<h1>Login</h1>
		<form method="post">
			<label>
				<div>Username</div>
				<input type="text" name="username" value="{{name}}">
			</label>
			<label>
				<div>Password</div>
				<input type="password" name="password">
			</label>
			<label>{{error}}</label>
			<input type="submit">
		</form>
    </body>
</html>