<!DOCTYPE html>

<html>
    <head>
        <title>Udacity Web Development Class Blog</title>
    </head>
    <body>
		<h1>New Post</h1>
		<form method="post">
			<label>
				<div>Title</div> <input type="text" name="subject" value="{{title}}">
			</label>
			<label>
				<div>Content</div> <textarea name="content">{{content}}</textarea>
			</label>
			<label>
				<div>{{error}}</div>
			</label>
			<input type="submit">
		</form>
    </body>
</html>