<!DOCTYPE html>

<html>
    <head>
        <title>Udacity Web Development Class Blog</title>
    </head>
    <body>
		<h1>Sign Up</h1>
		<form method="post">
			<label>
				<div>Username</div>
				<input type="text" name="username" value="{{name}}">
				<div>{{name_error}}</div>
			</label>
			<label>
				<div>Password</div>
				<input type="password" name="password">
				<div>{{password_error}}</div>
			</label>
			<label>
				<div>Retype Password</div>
				<input type="password" name="verify">
				<div>{{verify_error}}</div>
			</label>
			<label>
				<div>E-mail (Optional)</div>
				<input type="text" name="email" value="{{email}}">
			</label>
			<input type="submit">
		</form>
    </body>
</html>